body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: Gordita;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 500
}


.header{
  display : flex;
  margin : 1rem;
}

.header-left{
  margin: 5rem 4rem;
font-family: Gordita;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 500

}

.header-left h4{
  font-size: 24px;
}
.header-left h1{
  font-size: 48px;
  margin :  20px 0;
}
.header-left p{
  font-size: 20px;
  width: 80%;
  margin :  50px 0px 50px 0px;
}
.startCourseBtn {
  /* text-decoration: none;
  border: none;
  border-radius: 10%;
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: #309255 */
}
.crs-btn-primary {
  color: #fff;
    background-color: #309255;
    border-color: #309255;
}
.crsbtn {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  overflow: hidden;
    display: inline-block;
    font-family: "Gordita";
    font-weight: 500;
    line-height: 3.75rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 0 solid transparent;
    padding: 0 2.188rem;
    font-size: 1.125rem;
    border-radius: 10px;
    background-color: #309255;
    /* -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; */
    transition: background-color 0.4s ease-in-out;
}
.crsbtn:hover{
  color: #fff;
  background-color: #000;
}

.header-right{
  width: 50%;
  height: 50%;
  position: relative;
  right: 0;

}


/* .App {
  font-family: sans-serif;
  text-align: center;
  width: 600px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.categoryContainer{
  display : flex;
  justify-content: center;
  align-items:center;
  /* width: 80rem; */
  width: 100%;
  height: 8rem;
  background-color: #EEFBF3;
  margin : 10px;
}

.categoryUL{
  /* display: flex; */
  
  /* align-items: center; */
  /* justify-content: center; */
  list-style: none;
  /* max-width: 80%; */
  /* overflow-x: scroll; */
  /* scroll-behavior: smooth; */
  /* &::-webkit-scrollbar {
    background: transparent;  make scrollbar transparent 
    -webkit-appearance: none;
    width: 0;
    height: 0;
  } */

  /* width: 100%; */
  height: auto;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;

  
  
}

.categoryUL::-webkit-scrollbar {
  display: none;
  }
.categoryList{
  background:#FFFFFF;
  color: #212832;
  padding: 8px;
  border-radius: 10px;
  margin: 0px 15px;
  white-space: nowrap;
  display: inline-flex;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  /* width: 100%; */
  height: 60px;
  border: 1px solid rgba(48,146,85,0.2);
  transition: all 0.3s ease 0s;
    padding: 0 15px;
}
.categoryList:active, .categoryList:hover{
    color: #309255;
    border: 1px solid #309255;
}

.prev, .next{
  /* border: 0; */
  /* color: #777; */
  color : #000;
  /* position: relative; */
  /* align-items: center;
  justify-content: center; */
  font-size: 24px;
  /* margin: 0 8px; */
  height: 35%;
  width : 80px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin : 1rem;
  /* border: 1px solid #309255; */
  border : 1px solid transparent;
}
/* .next{
  border: 0;
  color: #777;
  color : #000;
  font-size: 24px;
  justify-content: left;
  align-items: left;
  margin: 0 8px;
  height: 50%;
  width : 10%;
  background-color: #fff;
  border-radius: 50%;
  margin : 1rem;
} */

.prev:active, .next:active,.prev:hover, .next:hover{
  background-color: #309255;
  color : #fff;
  cursor: pointer;
}



.my-card{
  width: 20rem;
  display: inline-block !important;
  border : 1px solid #D6E9DD;
  margin: 1rem;
  border-radius: 1rem;
}
.my-card:hover, .my-card:active{
  border: 1px solid #309255;
}

.my-card-img-div{
  margin : 1rem;
}
.my-card-img-top{
  border-radius: 10px !important;
}
.my-card-profile-detail{
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.my-card-profile{
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.my-card-profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 0.5rem;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.my-card-profile-text{
  width: 100%;
  height: 40px;
  font-size: 14px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin : 0rem 0rem;
}

.my-card-sub-tag{
  font-size: 1rem;
  /* width: 100%; */
  height: 2rem;
  padding: 0rem 1.5rem;
  background-color: #E7F8EE;
  color: #539495;
  text-align: center;
  display: flex;
  align-items: center;
}

.my-card-title{
  font-size: 1rem;
  font-weight: 540;
  color: #212832;
}

.my-card-course{
  display: flex;
  width: 100%;
  /* padding: 1rem; */
  /* justify-content: center; */
  /* align-items: center; */

}
.my-card-time{
  width: 50%;
  /* padding: 0.5 rem; */
}

.my-card-time-text{
  margin : 0.5rem;
  font-size: 0.9rem;
  color: #686B65;
  padding-top : .2rem;
}

.my-card-lectureText{
  margin: 0.5rem;
  font-size: 0.9rem;
  color: #686B65;
  padding: .2rem;
}

.my-card-lecture{
  text-align:right;
  width: 50%;
}
.my-card-clockIcon{
  color: #309255;
}
.my-card-lectureIcon{
  color: #309255
}

.my-card-bottom{
  display: flex;
  height: 3rem;
  width : 100%;
  background-color: #EEFBF3;
  /* margin : 0.5rem ; */
  margin-top: 1rem;
  border-radius: 0.5rem;
  justify-content: center;
  /* justify-content: space-between;  */
  align-items: center;
  /* padding: 1rem; */
 
}
.my-card-pricing{
  width: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.my-card-pricing h1{
  font-size: 1.2rem;
  font-weight: 780;
  color: #309255;
  margin: 0 0.5rem;
  width: 50%;
}
.my-card-pricing h2{
  font-size: 1rem;
  color: #212832;
  padding-top: 1rem;
  font-weight:550;
  text-decoration: line-through;
  width: 50%;
}

.my-card-rating{
  display: flex;
  /* width: 60%; */
  margin: 0 1rem;
  justify-content: center;
  align-items: center;
}

.my-card-rating h4{
  font-size: 1rem;
  color: #212832;
  padding-top:  1rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  font-weight: 500;
  
}
.rating{
  color: #FFBA00;
}

.course-btn-container{
  display: flex;
  justify-content:center;
  align-items:center;
}
.course-btn{
  text-decoration: none;
  font-size: 20px;
  padding: 0.8rem 2rem;
  border: 1px solid #309255;
  border-radius: 10px;
  margin: 1rem;
  background-color: #E7F8EE;
  color: #309255;
  font-weight: 550;
}








/* .VideoList{
  margin: "4px";
  padding: "4px";
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap; 
}
.VideoList::-webkit-scrollbar {
display: none;
} */




.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}